button{
    border: none;
    background: white;
    width: 100%;
    border-radius: 5px;
}
button:hover{
    background: rgb(182, 182, 182);
}
input{
    position: relative;
    width: 44%;
    height: 35px;
    margin-top: -10px;
    left:112px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
}